.wrapper-cadastro {
  width: 500px;
  background: rgba(2, 106, 110, 0.95); /* Leve transparência */
  color: rgb(255, 255, 255);
  border-radius: 15px; /* Bordas mais arredondadas */
  padding: 30px; /* Mais espaçamento interno */
  margin: auto;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /* Sombra mais suave e elegante */
  backdrop-filter: blur(5px); /* Suave efeito de desfoque no fundo */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borda sutil para um acabamento melhor */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -48%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}


.wrapper-cadastro .input-box-cadastro {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.wrapper-cadastro .input-box-cadastro input {
  width: 83.5%;
  height: 70%;
  padding: 10px 45px 5px 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.wrapper-cadastro .input-box-cadastro input:hover {
  border-color: rgb(255, 128, 0);
}

.wrapper-cadastro .button-cadastro {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.wrapper-cadastro .button-cadastro:hover {
  background: rgb(255, 128, 0);
  color: rgb(255, 255, 255);
}

.wrapper-cadastro .link-login {
  text-align: center;
  margin: 20px 0 15px;
}

.link-login a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link-login a:hover {
  text-decoration: underline;
  color: rgb(255, 128, 0);
}

.input-box-cadastro select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: rgb(2, 106, 110);
  border: 2px solid rgb(221, 221, 221);
  border-radius: 40px;
  outline: none;
  color: rgb(255, 255, 255);
}

.input-box-cadastro select:focus {
  border-color: #ff8000;
}
.erro-mensagem {
  background-color: rgba(167, 0, 0, 0.1);
  border: 1px solid #ff3333;
  color: #ff3333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

.sucesso-mensagem {
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid #00cc00;
  color: #00cc00;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}
