.card-login {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px;
  display: block;
  width: 380px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
